* {
  box-sizing: border-box;
}
.form {
}
.form__box {
  display: flex;
  width: 450px;
  justify-content: space-between;
}
.form__input {
  width: 200px;
  margin-bottom: 5px;
}
.form__inputTo {
  background-color: green;
  color: white;
}
.form__left,
.form__right {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}
